{% extends 'base.html' %}
{% from '_macros.html' import macro_render_field %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="user_content"> {#grid#}
    <div class="user_img">
        <img src="../static/img/{{ user_data.picture }}" alt="">
        <span class="nickname">{{ user_data.user_name }}</span>
    </div>
    <div class="user_parameters">
        <div class="element">
            <span class="description">Reputation: </span>
            <span>{{ user_data.rep }}</span>
        </div>
        <div class="element">
            <span class="description">Date of registration: </span>
            <span>{{ user_data.date}}</span>
        </div>
        <div class="element">
            <span class="description">Questions count: </span>
            <span>{{ user_data.question_count }}</span>
        </div>
        <div class="element">
            <span class="description">Answers count: </span>
            <span>{{ user_data.answer_count }}</span>
        </div>
        <div class="element">
            <span class="description">Comments count: </span>
            <span>{{ user_data.comment_count }}</span>
        </div>
    </div>
</div>
{% endblock content %}