{% extends 'base.html' %}
{% from '_macros.html' import macro_render_field %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="user_content"> {#grid#}
    <div class="user_img">
        <img src="../static/img/{{ user_data.picture }}" alt="">
        <span class="nickname">{{ user_data.user_name }}</span>
    </div>
    <div class="user_parameters">
        <ul>
            <li class="element">
                <div>
                    <span class="description">Reputation: </span>
                    <span>{{ user_data.rep }}</span>
                </div>
            </li>
            <li class="element">
                <div>
                    <span class="description">Date of registration: </span>
                    <span>{{ user_data.date}}</span>
                </div>
            </li>
            <li class="element">
                <div>
                    <span class="description">Your questions count: </span>
                    <span>{{ user_data.question_count }}</span>
                </div>
            </li>
            <li class="element">
                <div>
                    <span class="description">Yours answers count: </span>
                    <span>{{ user_data.answers_count }}</span>
                </div>
            </li>
            <li class="element">
                <div>
                    <span class="description">Your comments count: </span>
                    <span>{{ user_data.comment_count }}</span>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock content %}